body {
    background-color: #000000;
}

:host {
ion-avatar {
    margin: 0 auto;
}

.menu-col {
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
}


.order-btn {
    position: fixed;
    bottom: 0;
    display: block;
}

}