<div class="order-page mx-12">
<app-welcome-component [welcomeTitle]="welcomeTitle"></app-welcome-component>
  <div class="main-content flex mt-12">
    <form class="mb-4 p-4 bg-red rounded shadow">
      <div class="form-group">
        <label for="welcomeTitle">Modifier le titre:</label>
        <input 
          id="welcomeTitle"
          name="welcomeTitle"
          type="text"
          [(ngModel)]='welcomeTitle'
          class="ml-2 p-2 border rounded text-red"
        >
      </div>
    </form>
    <div class="header-column w-1/4 pr-4">
      <app-header [title]="title" [logo]="logo"></app-header>
    </div>
    <div class="categories-column w-1/4 pr-4">
      <h2
      class="text-xl font-semibold mb-4  hover:bg-gray-100 cursor-pointer rounded hover:text-blue-500">Catégories</h2>
      @if (categories) {
      <ul class="categories-list">
        @for (category of categories;track category.uuid) {
        <li
          class="py-2 px-3 hover:bg-gray-100 cursor-pointer rounded-lg hover:text-blue-500"
          (click)="selectedCategory = category"
        >
          <p>{{ category.title }}</p>
        </li>
        }
      </ul>
    }
    </div>

    <div class="products-column w-3/4">
      <h2 class="text-xl font-semibold mb-4">
      {{ selectedCategory?.title }}
      </h2>
      @if (categories) {
      <div class="products-grid grid grid-cols-4 gap-4">
        @if (selectedCategory) {
        @for (product of (categories | filterByCategory: selectedCategory).recipes; track product.uuid) {
        <div
          (click)="addToOrder(product)"
          class="cursor-pointer product-card p-4 border rounded-lg flex flex-col items-center justify-between h-120"
        >
          @if (product.imageUrl) {
          <img
            [src]="product.imageUrl"
            alt="Product Image"
            class="w-full h-45 object-cover rounded-45 mb-2"
          />
          }
          <h3 class="font-medium text-lg">{{ product.title }}</h3>
          <p class="text-sm text-gray-600">{{ product.description }}</p>
          <p class="font-bold mt-2">{{ product.price | currency:'CHF': 'symbol': '1.2-2' }}</p>
        </div>
        }
        } @else {
          @for (category of categories; track category.uuid) {
          @for (product of category.recipes; track product.uuid) {
          <div 
          (click)="addToOrder(product)"
          class="cursor-pointer product-card p-4 border rounded-lg flex flex-col items-center justify-between h-90">
            @if (product.imageUrl) {
            <img
              [src]="product.imageUrl"
              alt="Product Image"
              class="w-full h-45 object-cover rounded-45 mb-2"
            />
            }
            <p>{{ product.title }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.price | currency:'CHF': 'symbol': '1.2-2' }}</p>
          </div>
          }
        }
      }
      </div>
      }
    </div>
  </div>
  <div class="order-summary">
    <button [disabled]="order.hasError('minOrder')"
    class="text-xl font-semibold mb-4 bg-blue-500 text-white px-4 py-2 rounded-md"
    [class.bg-gray-400]="order.hasError('minOrder')"
    [class.bg-blue-500]="!order.hasError('minOrder')">
    Commander
    </button>
    <p [hidden]="!order.hasError('minOrder')">
      Commander un minimum de 10CHF pour valider votre commande
    </p>
  </div>
  <div class="add-cart">
    <p>Items in cart: {{ totalQuantity }}</p>
    <p>Total: {{ totalPrice / 100 | currency:'CHF': 'symbol': '1.2-2' }}</p>
    <ul>
      @for (item of order.value; track item.uuid) {
      <li>{{ item.title }} (x{{ item.quantity }})</li>
      <li>{{ item.price / 100 | currency:'CHF': 'symbol': '1.2-2' }}</li>
      <li><button>X</button></li>
      }
    </ul>
  </div>
</div>
